{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Nothing You Could Do',fantasy;
}

.content {
 margin: 10px auto;
 width: 1200px;
 background: #b3ffcc;
 font-family: 'Nothing You Could Do',fantasy;
}

.userInput {
 display: flex;
 flex-direction: column;
 margin-top: 30px;
 background: #ffff99;
 font-family: 'Nothing You Could Do',fantasy;
}

.name {
 width: 600px;
 margin: 20px auto 5px auto;
 padding: 5px;
 font-size: 90%;
 font-family: 'Nothing You Could Do',fantasy;
}

.submitBtn {
 width: 1100px;
 padding: 5px;
 margin: 5px auto 25px auto;
 background: #ff99e6;
 border: none;
 border-radius: 2px;
 color: #fff;
 font-size: 100%;
 font-family: 'Nothing You Could Do',fantasy;
}

.card-container {
 padding: 30px;
 background: #b3ffe6;
 font-family: 'Nothing You Could Do',fantasy;
}

h2 {
 font-size: 120%;
 margin-bottom: 10px;
 font-family: 'Nothing You Could Do',fantasy;
}

.name-card {
 margin: 0 auto;
 margin-bottom: 10px;
 padding: 8px;
 width: 1100px;
 background: #b3ffe6;
 font-family: 'Nothing You Could Do',fantasy;
}
